body {
  background: #000;
  color: #fff;
  overflow: hidden;
  font-family: 'Dosis', sans-serif;
  line-height: 1.5em;
  letter-spacing: .1em;
  font-size: 12px;
}

.white body {
  background: #fff;
  color: #000;
}

.hidden-text {
  display: none;
}

canvas {
  width: 100%;
  height: 100%;
}

canvas.hover, canvas.active {
  cursor: pointer;
}

header {
  position: fixed;
  margin-top: -100px;
  border-left: 5px solid #fff;
  padding: 5px;
  padding-left: 20px;
  top: 50%;
}

.white header {
  border-color: #000;
}

#home {
  background: url('sliiice.svg') 0 0 no-repeat;
  width: 85px;
  height: 45px;
  display: block;
}

.white #home {
  background-image: url('sliiice-black.svg');
}

h1 {
  font-size: 12px;
}

#info {
  margin-top: 20px;
  font-size: 14px;
}

.fb_edge_widget_with_comment {
  margin-top: 10px;
}